@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4em;
        word-spacing: 0.5em;
        letter-spacing: 0.2em;
    }
    .title {
        padding: 30px;
    }

    .page {
        max-width: 1000px;
        margin: auto;
    }

    .page-half {
        width: 50vw;
        height: calc(100vh - var(--height-header));
    }

    .d-flex-resp {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (min-width: 1200px) {
    .menu-float {
        opacity: 1 !important;
        z-index: 100 !important;
        left: 0 !important;
    }
}