html, body, #app, .app-container {
    height: 100%;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 4em;
    word-spacing: 0.5em;
    letter-spacing: 0.2em;
}

.page {
    height: 100vh;
}

.text-lg {
    font-weight: 800;
    font-size: 4.5rem;
    color: var(--color-white);
}