html, body, #app, .app-container {
    height: 100%;
    margin: 0;
    text-align: center;
    background-color: var(--color-black);
    color: var(--color-white);
}

h1 {
    font-size: 2.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: 'Roboto Slab', serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

hr {
    width: 80%;
    margin: var(--padding-size) auto;
}

.hr {
    width: 80%;
    margin: var(--padding-size) auto;
    border: 2px solid var(--color-green);
    border-image-slice: 1;
    border-image-source: var(--gradient-webkit);
    border-image-source: var(--gradient-rainbow-webkit);
    border-image-source: var(--gradient-rainbow);
    border-image-source: var(--gradient-rainbow-o);
    border-image-source: var(--gradient-rainbow-moz);
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color-white-transparent);
    padding: 0;
    opacity: 0.7;
}

a, a:hover, a:visited {
    text-decoration: none;
    text-transform: none;
    color: inherit;
}



/*************************/
/*        CUSTOM         */
/*************************/

.page {
    height: 100vh;
}

.page-padding {
    padding: 0 5%;
}

.page-with-header {
    padding-top: var(--height-header) !important;
}

.header~.page {
    height: calc(100vh - var(--height-header));
}

.page-half {
    height: calc(50vh - (var(--height-header) / 2));
    padding: 0 5%;
    position: relative;
    min-height: 250px;
}

.d-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-lg {
    font-weight: 800;
    font-size: 4.5rem;
}

.text-bold {
    font-weight: 700;
}

.page-project-web {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.page-project-web:last-child {
    border-bottom: none
}

.page-project-web .title {
    font-weight: 800;
    font-size: 3rem;
    padding: 0 !important;
}

.page-project-web .logo {
    width: 20%;
}

.page-project-web * {
    transition: 0.2s;
    /* opacity: 0; */
}

.page-project-web:hover * {
    opacity: 0 !important;
}

.page-project-web .voile {
    opacity: 0.85;
}

.page-blackjack {
    background-image: url('./images/blackjack.jpg');
}

.page-emergency {
    background-image: url('./images/emergency.jpg');
}

.project-detail {
    font-size: 1.5rem;
}

.voile {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: 0.2s;
}

.voile~* {
    position: relative;
    z-index: 10;
}

.cursor-pointer {
    cursor: pointer;
}

.container-img {
    height: 20%;
    min-height: 150px;
    position: relative;
    width: min-content;
    margin: auto;
}

.img-circle {
    border-radius: 50%;
    height: 100%;
}

.gradient-blue {
    background: rgb(23, 35, 49);
    background: var(--gradient-blue);
}

.gradient-purple {
    background: rgb(33, 23, 49);
    background: var(--gradient-purple);
}

.gradient-red {
    background: rgb(50, 10, 10);
    background: var(--gradient-red);
}

.gradient-green {
    background: rgb(16, 50, 10);
    background: var(--gradient-green);
}

.gradient-orange {
    background: rgb(65, 36, 9);
    background: var(--gradient-orange);
}

.gradient-yellow {
    background: rgb(62, 66, 6);
    background: var(--gradient-yellow);
}

.gradient-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.bg-blue {
    background-color: var(--color-blue) !important;
}

.bg-purple {
    background-color: var(--color-purple) !important;
}

.bg-red {
    background: var(--color-red) !important;
}

.bg-orange {
    background: rgb(65, 36, 9) !important;
}

.bg-yellow {
    background: rgba(151, 153, 7, 0.568) !important;
}

.bg-green {
    background: rgb(16, 50, 10) !important;
}

.bg-pink {
    background: var(--color-pink) !important;
}



.title {
    padding: 10px
}


.shortcut {
    border: 2px solid var(--color-white);
    width: 80%;
    margin: 12px auto;
    border-radius: var(--height-shortcut);
    font-weight: 600;
    display: flex;
    height: 7%;
    height: var(--height-shortcut);
    max-width: 400px;
    position: relative;
    align-items: center;
}

.shortcut:hover .fa,
.network:hover .fa {
    transform: rotate(360deg);
}

.shortcut .shortcut-text {
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.shortcut .fa,
.network .fa {
    border: 2px solid white;
    width: var(--height-shortcut);
    height: calc(100% + 4px);
    margin-left: -2px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    transform: rotate(0);
}

.networks {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 400px;
    width: 80%;
}

.network {
    cursor: pointer;
    border-radius: var(--height-shortcut);
    margin: 0 10px;
}

.network .fa {
    width: var(--height-shortcut);
    height: var(--height-shortcut);
    background-color: var(--color-dark-black);
}

.title-sm {
    font-size: 1.3rem;
    font-weight: 600;
}


.pb {
    padding-bottom: var(--padding-size);
}

.pt {
    padding-top: var(--padding-size);
}

.padding>* {
    margin-bottom: var(--padding-size);
}

.padding .title-sm {
    margin-bottom: calc(var(--padding-size) - var(--padding-size) / 4) !important;
}